# nicocache.py 設定ファイル

[global]
# nicocache.pyの待ち受けポート
# 数値を設定してください
# デフォルト値: 8080
listenPort = 8080

# 併用するプロキシのホスト名かIPアドレス。空にすると併用なし。
# デフォルト値: 
#proxyHost = 

# 併用するプロキシの待ち受けポート。
# デフォルト値: 8080
#proxyPort = 8080

# cacheフォルダ以下にあるファイルの一覧をキャッシュするか(true/false)
# 大量のキャッシュがある場合や、ネットワーク上のフォルダ等の遅い場所にある場合は高速化が期待できる
# デフォルト値:false
#dirCache = false

# キャッシュを参照した際にタイムスタンプ(更新時間)を更新するか。(true/false)
# デフォルト値: true
#touchCache = true